/* import google font 'open sans'  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* tailwindcss */
@import "tailwindcss";

/* daisyUi */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, silk;
}

/* common styles  */
body {
  color: #131313;
  font-family: "Open Sans", sans-serif;
}

a.active {
  font-weight: 500;
  color: red;
}

@utility bg-banner-image {
  background-image: url("./assets/images/banner.jpg");
}
