/* tailwindcss */
@import "tailwindcss";

/* daisyUi */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, silk;
}

/* common styles  */
body {
  color: #131313;
}

a.active {
  font-weight: 500;
  color: red;
}

@utility bg-banner-image {
  background-image: url("./assets/images/banner.jpg");
}
